{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container-fluid trolley-bg text-blue">
    <div class="row">
        <div class="title-order container">
            <div>
                <h2 id="packages-page">Shopping Trolley</h2>
            </div>
        </div>
    </div>
    <div class="col text-center mt-3">
        <hr class="w-50 mb-1">
    </div>
    <div class="container">
        <div class="col">
            {% if trolley_items %}
            <div class="table-responsive rounded glassify">
                <table class="table table-sm table-borderless">
                    <thead class="text-black">
                        <tr>
                            <th scope="col">Product Info</th>
                            <th scope="col"></th>
                            <th scope="col">Price</th>
                            <th scope="col">Qty</th>
                            <th scope="col">Subtotal</th>
                        </tr>
                    </thead>

                    {% for item in trolley_items %}
                        <tr>
                            <td class="p-3 w-25">
                                <!-- <img class="img-fluid rounded" src="{{ item.product.image.url }}"> -->
                                {% if item.product.image %}
                                    <img class="pic-fixed-size rounded" src="{{ item.product.image }}" alt="{{ product.name }}">
                                {% else %}
                                    <img class="pic-fixed-size rounded" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
                                {% endif %}
                            </td>
                            <td class="py-3">
                                <p class="my-0"><strong>{{ item.product.name }}</strong></p>
                                <p class="my-0 small text-muted">SKU: {{ item.product.sku|upper }}</p>
                            </td>
                            <td class="py-3">
                                <p class="my-0">${{ item.product.price }}</p>
                            </td>
                            <td class="py-3 w-25">
                                <p class="my-0">{{ item.quantity }}</p>
                            </td>
                            <td class="py-3">
                                <p class="my-0">€{{ item.product.price }}</p>
                            </td>
                        </tr>
                    {% endfor %}
                    <tr>
                        <td colspan="5" class="pt-5 text-right">
                            <h6><strong>Trolley Total: €{{ total|floatformat:2 }}</strong></h6>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="5" class="text-right">
                            <a href="{% url 'products' %}" class="btn btn-outline-black rounded-0 btn-lg">
                                <span class="icon">
                                    <i class="fas fa-chevron-left"></i>
                                </span>
                                <span class="text-uppercase">Keep Shopping</span>
                            </a>
                            <a href="" class="btn btn-black rounded-0 btn-lg">
                                <span class="text-uppercase">Secure Checkout</span>
                                <span class="icon">
                                    <i class="fas fa-lock"></i>
                                </span>
                            </a>
                        </td>
                    </tr>
                </table>
            </div>
            {% else %}
                <h2 class="mt-5">
                    <p class="lead mb-5">Your bag is empty.</p>
                    <a class="link-blue-nd" href="{% url 'products' %}?sort=category&direction=desc">
                        <i class="fas fa-arrow-alt-circle-left pr-2 mb-3 back-arrow-link"></i>
                        Keep Shopping
                    </a>
                </h2>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}