
/* ----------------------------------------------Loading Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Asap:ital,wght@1,700&family=Roboto:ital,wght@0,400;0,500;0,700;1,700&display=swap');



/* ---------------------------------------------- Home Landing page Styles */

body {
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
    background-color:#d0d6e4;
}



.hero {
    background-image:url('/media/jude-beck-unsplash.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height:100vh;
    min-height: 700px;
}

.overlay {
    position:absolute;
    background-color: rgba(117, 116, 116, 0.5);
    left: 0;
    right: 0;
    height:100vh;
    min-height: 700px;
}

.overlay-dark {
    position:absolute;
    background-color: rgba(255, 255, 255, 0.15);
    left: 0;
    right: 0;
    height:100vh;
    min-height: 700px;
}

.hero .home-inner {
    padding-top: 300px;
}


.hero-call h1 {
    font-size: 6rem;
    font-weight: bolder;
    font-family: 'Asap', sans-serif;
}


.full-screen {
    height:100vh;
}


.nav-item a {
    font-family: 'Roboto', sans-serif !important;
    font-weight: 700 !important;
    color:#0015FF !important;
}

.nav-item a:hover {
    font-size: 1.05em;
    background-color: #bbdfeb;
    border-radius: 50px;
}

.navbar-brand img {
    opacity: 1 !important;
}

.empty-trolley {
    font-size: 1.3em;
    color: #0015FF !important;
}

.loaded-trolley {
    font-size: 1.6em;
    color:#3e048a !important;
    text-shadow: 2px;
}


.empty-trolley-value {
    color: #0015FF !important;
}

.loaded-trolley-value {
    color:#3e048a !important;
}

.manage-link {
    text-align: center;
}

#about {
    background-image: url('/media/irina-murza-unsplash.jpg');
    height:100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.about-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.about-main {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;
    margin-top: 5%;
    border-radius: 15px;
    height: auto;
    
}

.about-testimonial {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;
    margin-top: 5%;
    margin-bottom: 5%;
}


#video1 {
    width: 100%;
    height:100%;
}

#packages {
    background-image: url('/media/franciele-cunha-unsplash.jpg');
    height:100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: -10px;
    padding-top: 100px;
}

#packages p {
    font-size: 5em;
    font-weight: bold;
}


.btn-container {
    height: 50vh;
    display:flex;
    align-items: center;
}

.btn-container a {
    font-size: 5em;
}

.btn-container a:hover {
    font-size: 5.2em;
}



/* ---------------------------------------------- Footer Styles */

.footer-container {
    display: flex;
    flex-wrap: wrap;
   
}

.footer-social {
    background-color: rgb(90, 92, 247);
    color: #000000;
    height: 60px;
    width: 100%;
    border-left-color: #fff;
    border-left-width: 20px;
    text-align: center;
    display: inline-flex;
    justify-content: space-evenly;
}

.social-element {
    font-family: "Montserrat", sans-serif;
    font-size: 1.2em;
    text-decoration: none;
    margin-bottom: 0;
    margin-right: 10px;
    padding-top: 16px;
}

.social-element i {
    font-size: large;
    color: #ffffff;
}

.social-element a {
    color: #ffffff;
    text-decoration: none;
}

.social-element a:hover {
    color: #ffffff;
    font-weight: bold;
}

.footer-copyright {
    margin-bottom: 0;
    padding: 3px;
    height: 100%;
    width: 100%;
    background-color: rgb(0, 2, 112);
    color: #ffffff;
    text-align: center;
    font-size: 1em;
}

.footer-copyright p {
    margin-bottom: 0;
}

footer {
    position: relative;
    bottom: 0;
    width: 100%;
}


/* ---------------------------------------------- Contact Us page Styles */

.contactus-page {
    padding-top: 150px;
    height: 100vh;
    background-image: url(/media/background.png);
}



/* ---------------------------------------------- Products page Styles */

#packages-page {
    margin-top: 150px;
    font-family: 'Roboto', sans-serif;
}

.packages-bg {
    background-color:#d0d6e4;
    min-height:100%;
}

.pic-fixed-size {
    height: auto;
    width: 100%;
}

.title-order {
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* ---------------------------------------------- Product Detail page Styles */

#packages-top-row {
    padding-top: 100px;
    font-family: 'Roboto', sans-serif;
}

.pic-detail-size {
    min-height: 700px;
}

.product-detail-container {
    min-height: 100%;
    margin-top: 150px;
}

.img-product-detail {
    width: 100%;
}

.detail-content {
    width: 100%;
}

.qty_input {
    font-size: 1.2em;
}

.decrement-qty {
    height: fit-content;
}

.increment-qty {
    height: fit-content;
}


#add-to-trolley:hover {
    background-color: #3e048a !important;
}

.descr-link {
    font-size: 1.7em;
}


.form-group {
    text-align-last: center;
}

/* ---------------------------------------------- Product Management pages Styles */

.product-mgn-page {
    padding-top: 100px;
    font-family: 'Roboto', sans-serif;
}

/* Widget styles changes to the add image form  */

/* Product Form */

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0;
    cursor: pointer;
}

.custom-checkbox .custom-control-label::before {
    border-radius: 0;
    border-color: #dc3545;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #dc3545;
    border-color: #dc3545;
    border-radius: 0;
}


/* ---------------------------------------------- Trolley page Styles */

.trolley-bg {
    height: 100%;
    background-color:#d0d6e4;
}

.update-link, .remove-item {
    cursor: pointer;
}

.t-large {
    min-width: 150px;
}

.t-small {
    min-width: 100px;
}

.mobile-tb-title {
    display: none;
}

/* ---------------------------------------------- Checkout page Styles */

.checkout-page {
    margin-top: 150px;
}

/* ---------------------------------------------- Allauth page Styles */

.login-page {
    padding-top: 250px;
    background-image:url('/media/jude-beck-unsplash.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    height:100vh;
}


.signin-container {
    width: fit-content;
}

.allauth-style-input {
  box-sizing: border-box;
  height: 40px;
  padding: 10px 12px;
  border: 1px solid transparent;
  border-radius: 5px;
  background-color: white;
  box-shadow: 0 1px 3px 0 #adc5e4;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}

.allauth-style-input:focus,
.allauth-style-input:active {
  box-shadow: 5px #7fa5ca;
}

.allauth-style-input::placeholder {
    color: #235e96;
}


.allauth-form-inner-content input {
    border-color: #0015ff;

}

.allauth-form-inner-content label:not([for='id_remember']) {
    display: none;
}

.allauth-form-inner-content input::placeholder {
    color: #3f71a3;
}




/* ---------------------------------------------- Messages Toast Styles */

.message-container {
    position: fixed;
    bottom: 5%;
    right: 5%;
    z-index: 9000;
}

.custom-toast {
    background-color: hsl(204, 97%, 64%);
}

.toast-capper {
    height: 2px;
}


/* ---------------------------------------------- Website color scheme fixings */

.nav-glassify {
    background-color: hsla(204, 97%, 64%, 0);
    backdrop-filter: blur(5px);  
}


.glassify {
    background-color: #015d9b26;  
    backdrop-filter: blur(5px);
    border-radius: 15px;
}

.glassify-blurry {
    background-color: #015d9b26;  
    backdrop-filter: blur(60px);
    border-radius: 15px;
}


.text-blue {
    color:#0015FF !important;
}

.text-purple {
    color:#7b1be9 !important;
}

.text-blue-outlined {
    color:#0015ff !important;
    text-shadow:
    -1px -1px 0 #fff,
     0   -1px 0 #fff,
     1px -1px 0 #fff,
     1px  0   0 #fff,
     1px  1px 0 #fff,
     0    1px 0 #fff,
    -1px  1px 0 #fff,
    -1px  0   0 #fff;
}


.text-orange-outlined {
    color:#fcd071 !important;
    text-shadow:
    -1px -1px 0 #000,
     0   -1px 0 #000,
     1px -1px 0 #000,
     1px  0   0 #000,
     1px  1px 0 #000,
     0    1px 0 #000,
    -1px  1px 0 #000,
    -1px  0   0 #000;
}

.text-blue-dark {
    color:#0003af !important;
}

.btn-primary {
    background-color: #0015FF !important;
}

.link-blue-nd {
    color:#0015FF !important;
}

.link-dark-blue-nd {
    color:#0003af !important;
}


.link-blue-nd:hover {
    font-size: 1.02em;
    text-decoration: none !important;
}

.link-dark-blue-nd:hover {
    font-size: 1.02em;
    text-decoration: none !important;
}

/* ---------------------------------------------- Landing page Arrow */
/* Arrow CSS shape based on the video from DesignCourse - https://www.youtube.com/watch?v=P5zGTEGPpu4 */

.line {
    align-self: end;
    width: 50%;
    border-right: 20px solid white;
    height: 50%;
    margin-bottom: 4em;
    right: -10px;
    position: relative;
}

.line::after {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 30px 30px 0 30px;
    border-color: white transparent transparent transparent;
    right: -40px;
    bottom: -30px;
}



/* ---------------------------------------------- Background Parallax */

.parallax-bg {
    transition: initial;
}

/* --------------------------------------------- Media Queries */

@media screen and (max-width:1500px) {
    #add-to-trolley {
        font-size: 1.2em;
    }
    
    .descr-link {
        font-size: 1.2em;
    }
}


@media screen and (max-width:1200px) {

    .hero .home-inner {
        padding-top: 350px;
    }

    .hero-call h1 {
        font-size: 5rem;
        width: 400px;
        font-weight: bolder;
        font-family: 'Asap', sans-serif;
        display: block;
    }

    .hero-call h4 {
        width: 400px;
    }

}


@media screen and (max-width:990px) {

    .hero .home-inner {
        padding-top: 350px;
    }

    .hero-call h1 {
        font-size: 4rem;
        width: 350px;
        font-weight: bolder;
        font-family: 'Asap', sans-serif;
        display: block;
    }

    .hero-call p {
        width: 345px;
    }

    .line {
        width: 175px;
    }

    .nav-glassify {
        background-color: hsla(204, 97%, 64%, 0);
        backdrop-filter: blur(50px);  
    }

    .btn-container a {
        padding: 0 35px 0 35x !important;
        font-size: 3.5em;
    }

    .btn-container a:hover {
        padding: 0 35px 0 35x !important;
        font-size: 4em;
    }

    .manage-link {
        text-align: left;
    }

    .contactus-page {
        height: 120%;
        padding-bottom: 100px;
    }

}


@media screen and (max-width:787px) {

    .hero .home-inner {
        padding-top: 400px;
    }

    .hero-call h1 {
        font-size: 3rem;
        width: 300px;
        font-weight: bolder;
        font-family: 'Asap', sans-serif;
        display: block;
    }

    #packages p {
        font-size: 2.5em;
        font-weight: bold;
    }

   .mobile-back {
       display: block;
   }
   
   tr, td {
       display: block;
   }

   th {
       display: none;
   }

   .mobile-tb-title {
       display: block;
   }

}



