
/* ----------------------------------------------Loading Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Asap:ital,wght@1,700&family=Roboto:ital,wght@0,400;0,500;0,700;1,700&display=swap');



/* ---------------------------------------------- Home Landing page Styles */

body {
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
}



.hero {
    background-image:url('/media/jude-beck-unsplash.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height:100vh;
    min-height: 700px;
}

.overlay {
    position:absolute;
    background-color: rgba(87, 87, 87, 0.5);
    left: 0;
    right: 0;
    height:100vh;
    min-height: 700px;
}

.hero .home-inner {
    padding-top: 300px;
}


.hero-call h1 {
    font-size: 6rem;
    font-weight: bolder;
    font-family: 'Asap', sans-serif;
}


.full-screen {
    height:100vh;
}


.nav-item a {
    font-family: 'Roboto', sans-serif !important;
    font-weight: 700 !important;
    color:#0015FF !important;
}

.nav-item a:hover {
    font-size: 1.05em;
    background-color: #bbdfeb;
    border-radius: 50px;
}

.navbar-brand img {
    opacity: 1 !important;
}

.shop-trolley {
    font-size: 1.6em;
}

#about {
    background-image: url('/media/irina-murza-unsplash.jpg');
    height:100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.about-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.about-main {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;
    margin-top: 5%;
    border-radius: 15px;
    height: auto;
    
}

.about-testimonial {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;
    margin-top: 5%;
    margin-bottom: 5%;
    border-radius: 15px;
}

#video {
    background-color: #ffffff;
}

#video1 {
    width: 100%;
    height:100%;
}

.video-call {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 5em;
    font-weight: bold;
    z-index: 2;
    padding-top: 100px;
    padding-bottom: 100px;
}

#packages {
    background-image: url('/media/franciele-cunha-unsplash.jpg');
    height:50vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.btn-container {
    height: 50vh;
    display:flex;
    align-items: center;
}

.btn-container a {
    font-size: 5em;
}

.btn-container a:hover {
    font-size: 5.2em;
}

#contact {
    background-color:cornflowerblue;
}


/* ---------------------------------------------- Products page Styles */

#packages-page {
    padding-top: 100px;
    font-family: 'Roboto', sans-serif;
}

.packages-bg {
    background-color:#a8a4a6;
    min-height:100vh;
}

.pic-fixed-size {
    height: 400px;
    width: 100%;
}

.title-order {
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* ---------------------------------------------- Product Detail page Styles */

#packages-top-row {
    padding-top: 100px;
    font-family: 'Roboto', sans-serif;
}

.pic-detail-size {
    height: 700px;
}

.product-detail-container {
    height: 100%;
}

.img-product-detail {
    /* min-height: 350px; */
    width: 100%;
}

.detail-content {
    width: 100%;
}

#add-to-trolley:hover {
    font-size: 1.5em;
}

.descr-link {
    font-size: 1.7em;
}

.mobile-back {
    display: none;
}

/* ---------------------------------------------- Website color scheme fixings */

.nav-glassify {
    background-color: #d5ecfd;
    opacity: 60%;
}


.glassify {
    background-color: #d5ecfd;
    opacity: 60%;
}


.text-blue {
    color:#0015FF !important;
}

.text-green {
    color:#167a02 !important;
}

.btn-primary {
    background-color: #0015FF !important;
}

.link-blue-nd {
    color:#0015FF !important;
}

.link-blue-nd:hover {
    font-size: 1.05em;
    text-decoration: none !important;
}


/* ---------------------------------------------- Landing page Arrow */
/* Arrow CSS shape based on the video from DesignCourse - https://www.youtube.com/watch?v=P5zGTEGPpu4 */

.line {
    align-self: end;
    width: 50%;
    border-right: 20px solid white;
    height: 50%;
    margin-bottom: 4em;
    right: -10px;
    position: relative;
}

.line::after {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 30px 30px 0 30px;
    border-color: white transparent transparent transparent;
    right: -40px;
    bottom: -30px;
}



/* ---------------------------------------------- Background Parallax */

.parallax-bg {
    transition: initial;
}

/* --------------------------------------------- Media Queries */

@media screen and (max-width:1500px) {
    #add-to-trolley {
        font-size: 1.4em;
    }
    
    .descr-link {
        font-size: 1.4em;
    }
}



@media screen and (max-width:1200px) {

    .hero .home-inner {
        padding-top: 350px;
    }

    .hero-call h1 {
        font-size: 5rem;
        width: 400px;
        font-weight: bolder;
        font-family: 'Asap', sans-serif;
        display: block;
    }

    .hero-call h4 {
        width: 400px;
    }


}


@media screen and (max-width:990px) {

    .hero .home-inner {
        padding-top: 350px;
    }

    .hero-call h1 {
        font-size: 4rem;
        width: 350px;
        font-weight: bolder;
        font-family: 'Asap', sans-serif;
        display: block;
    }

    .hero-call p {
        width: 345px;
    }

    .line {
        width: 175px;
    }

    .navbar {
        opacity: 100% !important;
    }

    .btn-container a {
        padding: 0 35px 0 35x !important;
        font-size: 3.5em;
    }

    .btn-container a:hover {
        padding: 0 35px 0 35x !important;
        font-size: 4em;
    }

    @media screen and (max-width:1500px) {
        #add-to-trolley {
            font-size: 1.2em;
        }
        
        .descr-link {
            font-size: 1.2em;
        }
    }

}


@media screen and (max-width:787px) {

    .hero .home-inner {
        padding-top: 400px;
    }

    .hero-call h1 {
        font-size: 3rem;
        width: 300px;
        font-weight: bolder;
        font-family: 'Asap', sans-serif;
        display: block;
    }

   .video-call {
       font-size: 2.2em;
   }

   .mobile-back {
       display: block;
   }
   
}



