{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        {% block meta %}
            <meta charset="UTF-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% endblock %}

        {% block css %}
            <link rel="shortcut icon" href="{{ MEDIA_URL }}logo.svg" type="image/svg">
            <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
            <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" rel="stylesheet" integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog==" crossorigin="anonymous" type="text/css" />
            <link rel="stylesheet" href="{{ STATIC_URL }}css/base.css">
        {% endblock %}

        {% block extra_css %}
        {% endblock %}

        
        <title>Sophie Photography {% block title %}{% endblock %}</title>
    </head>
    <body>
        <header>
            <nav class="navbar navbar-expand-lg fixed-top navbar-light nav-glassify">
                <div class="container" id="nav-container">
                    <a class="navbar-brand" href="{% url 'home' %}"><img src="{{ MEDIA_URL }}logo.svg" alt="Logo" height="50px"></a>
                    <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                        <ul class="navbar-nav ml-auto mb-2 mb-lg-0">
                            {% if request.path == "/" %}
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'home' %}">HOME</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-blue" href="#about">ABOUT</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-blue" href="{% url 'products' %}?sort=category&direction=desc">PACKAGES & EXTRAS</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-blue" href="#contact">CONTACT US</a>
                                </li>
                                {% if request.user.is_authenticated %}
                                    {% if request.user.is_superuser %}
                                    <li class="nav-item">
                                        <a href="" class="nav-link text-blue">PACKAGES MANAGEMENT</a>
                                    </li>
                                    {% endif %}
                                    <li class="nav-item">
                                        <a href="{% url 'profile' %}" class="nav-link text-blue">MY PROFILE</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="{% url 'account_logout' %}" class="nav-link text-blue">SIGN OUT</a>
                                    </li>
                            {% else %}
                                    <li class="nav-item">
                                        <a href="{% url 'account_signup' %}" class="nav-link text-blue">REGISTER</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="{% url 'account_login' %}" class="nav-link text-blue">SIGN IN</a>
                                    </li>
                            {% endif %}
                                <li class="nav-item">
                                    {% if total == 0 %}
                                        <a class="nav-link" href="{% url 'view_trolley' %}"><i class="fas fa-shopping-cart empty-trolley"></i></a>
                                        <p class="my-0 empty-trolley-value font-weight-bold">
                                                €0.00
                                        </p>
                                    {% else %}
                                        <a class="nav-link" href="{% url 'view_trolley' %}"><i class="fas fa-cart-arrow-down loaded-trolley"></i></a>
                                        <p class="my-0 loaded-trolley-value font-weight-bold">
                                            €{{ total|floatformat:2 }}
                                        </p>
                                    {% endif %}
                                </li>
                            {% else %}
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'home' %}">HOME</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'products' %}?sort=category&direction=desc">PACKAGES & EXTRAS</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-blue" href="{% url 'account_login' %}">SIGN IN</a>
                                </li>
                                <li class="nav-item">
                                    {% if total == 0 %}
                                        <a class="nav-link" href="{% url 'view_trolley' %}"><i class="fas fa-shopping-cart empty-trolley"></i></a>
                                        <p class="my-0 empty-trolley-value font-weight-bold">
                                                €0.00
                                        </p>
                                    {% else %}
                                        <a class="nav-link" href="{% url 'view_trolley' %}"><i class="fas fa-cart-arrow-down loaded-trolley"></i></a>
                                        <p class="my-0 loaded-trolley-value font-weight-bold">
                                            €{{ total|floatformat:2 }}
                                        </p>
                                    {% endif %}
                                </li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
        {% if messages %}
            <div class="message-container">
                {% for message in messages %}
                    {% with message.level as level %}
                        {% if level == 40 %}
                            {% include 'includes/toasts/toast_error.html' %}
                        {% elif level == 30 %}
                            {% include 'includes/toasts/toast_warning.html' %}
                        {% elif level == 25 %}
                            {% include 'includes/toasts/toast_success.html' %}
                        {% else %}
                            {% include 'includes/toasts/toast_info.html' %}
                        {% endif %}
                    {% endwith %}
                {% endfor %}
            </div>
        {% endif %}

        {% block header %}  
        {% endblock %}

        {% block content %}
        {% endblock %}

        {% block footer %}
        {% endblock %}

        <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <script src="https://js.stripe.com/v3/"></script>
        <script src="{{ STATIC_URL }}js/base.js"></script>


        {% block script %}
        <script type="text/javascript">
            $('.toast').toast('show'); 
        </script>
        {% endblock %}

    </body>
</html>